@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

:root
{
  --main_orange_color:#F26627;
  --faded_orange_color:#F9A26C;
  --main_white_color:#EFEEEE;
  --light_blue_color:#9BD7D1;
  --deep_blue_color:#325D79;
  
}
*
  {
    box-sizing: border-box;
  }
body
  {
    font-family: 'Rakkas', cursive;
    margin:0;
    padding:0;
    background-color:var(--main_white_color);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    min-height:90vh;
    margin-bottom:100px;
  }
    

    
    form
    {
      padding:30px;  
      box-sizing: border-box;
      width:90%;
    }
    label , h1 , h4
    {
      color: var( --main_orange_color);
      font-weight:bold;
      display:block;
      text-align:center;
      margin : 5px auto ;
      margin-top:0px;
      
    }
    input[type=text] , select , input[type=date],input[type=number]{
      
      background-color:#DFE6E9;
      padding:10px;
      border: none;
      width:100%;
      margin: 5px auto ;
      text-align:center;
      
      
    }
    input[type=submit]
    {
      padding:10px;
      background-color: #294b93;
      color:white;
      font-weight:bold;
      border:none;
      border-radius:2px;
      box-shadow:none;
      display:block;
      width:100%;
      margin:10px auto ;
      margin-bottom: 0px;
      font-family: 'Rakkas', cursive;
      
    }
    .result
    {
      text-align:center;
      
    }
    a
    {
      text-decoration:none;
    }
    a.btn 
    {
      padding:10px;
      color:white;
      background-color:var( --deep_blue_color);
      text-align:center;     
      text-transform: uppercase;
      margin:20px auto;
      margin-top:0px;
      font-size:30px;
      width:80%;
      border-radius:5px;
      position:relative;
    }
    a.btn:hover  , .insert_btn:hover
     {
      background-color:var(--main_orange_color);
      transition : cubic-bezier(.17,.67,.83,.67) 300ms all ;
      cursor:pointer;
     }
    .del_btn
    {
      background-color:#fa448c!important;
    }
    .list_container
    {
      display:flex;
      flex-wrap:wrap;
      width:100%;
      max-width:100%;
      justify-content:center;
      align-items:center;
      margin:0px;
      padding:10px;
    }
    .list
    {
      display:flex;
      flex-direction:row-reverse;
      width:100%;
      justify-contetnt:center;
      align-items:center;
      list-style:none;
      text-align:center;
      background-color:#e4eaed;
      padding:10px; 
      color : #294b93!important;
      margin:5px;
      border-radius:5px; 
      transition : cubic-bezier(.17,.67,.83,.67) 500ms all ;
    }
    .list:hover
    {
      background-color:rgba(0,0,0,.2);
      color:white;
    }
    .list > div
    {
      background:rgba(255,255,255,.4);
      margin: 5px;
      padding:5px;
      border-radius:5px;
      flex:1;
    }
    .list div:nth-child(2)
    {
      color:red;
    }
    .text
    {
      color:#A6A1A1;
      text-align:center;
    }
 .add_buttons_container
 {
   display:flex;
   background:rgba(230,230,230,.2);
   border-radius:5px;
   justify-content:center;
   align-items:center;
   padding:5px;
   width : 95%;
   margin: 0 auto ;
 }
 .add_btn
 {
   background : #DFE6E9;
   color:#294b93;
   padding : 10px;
   margin: 0 10px;
   border-radius:10px;
   flex:1;
   text-align:center;
   transition: all .3s ease ;
 }
 .add_btn:hover
  {
   color:#DFE6E9;
   background:#294b93;
  }
  
  .cat:before , .inv:before , .inv_link:before , .item:before , .insert_btn:before
  {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    overflow:hidden;
    font-size:110px;
    position:absolute;
    top:0;
    left:0;
    opacity:5%;
    transform:rotate(45deg);      
  }
  .insert_btn:before
  {
    content: "\f0e8";
  }
  .cat:before
  {
    content: "\f0e8";
  }
  .inv:before
  {
    content: "\f468";
  }
  .inv_link:before
  {
    content: "\f0c1";
  }
  .item:before
  {
    content: "\f485";
  }

 #tabs
  {
    background-color:var(--main_orange_color);
    display:flex;
    width:100vw;
    max-width:100%;    
    justify-content:space-between;
    align-items:center;
    padding:10px;
    position:fixed;
    bottom:0;
    z-index:1;  
    -webkit-box-shadow: 0px -5px 1px -3px rgba(0,0,0,0.13); 
    box-shadow: 0px -5px 1px -3px rgba(0,0,0,0.13);  
  }
  .tab
  {
    display:flex;
    justify-content:center;
    color:rgba(255,255,255,.8);
    align-items:center;
    cursor:pointer; 
    border-radius:25px;
    padding:0px 20px;
    margin:0 5px;
    transition : cubic-bezier(.17,.67,.83,.67) 500ms all ;
  }
  .tab i
  {
    font-size:1.2em;
  }
  .tab  p
  {
    overflow:hidden;
    max-width:0;
  }
  .tab.active
  {
    background-color:rgba(255,255,255,.2);
    
  }
  .tab.active p
  {
    margin-left:10px;
    transition : cubic-bezier(.17,.67,.83,.67) 500ms all ;
    max-width:80vw;
  }
  .tab:hover p
  {
    margin-left:10px;
    max-width:80vw;
  }
  .tab:hover
  {
    background-color:rgba(255,255,255,.2);
  }